.App {
  text-align: center;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  margin-left:10px ;
  margin-top:10px ;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}